body {
    background-color: #282828;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #ffffff;
}

.question-stats {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #3f51b5;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
}

#addQuestionBtn {
    margin-bottom: 20px;
    background-color: #282828;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#addQuestionBtn i {
    margin-right: 8px;
}

#addQuestionBtn:hover {
    background-color: #444857;
}

#questionTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#questionTable th, #questionTable td {
    padding: 10px;
    border-bottom: 1px solid #444857;
    color: #ffffff;
}

#questionTable th {
    background-color: #444857;
}

#questionTable td {
    text-align: center;
}

.redirect-link {
    color: #6a0dad;
    text-decoration: none;
}

.redirect-link:hover {
    text-decoration: underline;
}

button.edit, button.delete {
    background-color: #282828;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 2px;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button.edit i, button.delete i {
    margin-right: 4px;
}

button.edit:hover {
    background-color: #3f51b5;
}

button.delete:hover {
    background-color: #ff5722;
}

#questionModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #282828;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #444857;
    width: 80%;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.modal-content label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
}

.modal-content input[type="text"],
.modal-content select {
    width: 100%;
    padding: 12px;  /* Increased padding */
    margin: 5px 0 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;  /* Increased font size */
    background-color: #444857;
    color: #ffffff;
}

.modal-content select {
    background-color: #444857;
    color: #ffffff;
    border: none;
    appearance: none;
    padding-right: 30px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
    background-size: 16px; /* Adjust size */
}

.modal-content select::-ms-expand {
    display: none;
}

.modal-content button[type="submit"] {
    background-color: #282828;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.modal-content button[type="submit"] i {
    margin-right: 8px;
}

.modal-content button[type="submit"]:hover {
    background-color: #444857;
}
